/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

@media (prefers-color-scheme: light) {
  :root {
    --font-weight: 400;
    --accent-font-weight: 700;
    --accent-color: #000000;
    --background-color: #ffffff;
    --background:
        repeating-linear-gradient(to right, #d3d3d3 0, #d3d3d3 2px, transparent 2px, transparent 4px),
        repeating-linear-gradient(to bottom, #d3d3d3 0, #d3d3d3 2px, transparent 2px, transparent 4px),
        linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a) left top / cover fixed;
    --heart-contour: #000000;
    --heart-sparks: #FF0000;
    --heart-fill: #FF0000;
    --button-text-mix-color: #ffffff;
  }
}

.page.theme-light {
  --font-weight: 400;
  --accent-font-weight: 700;
  --accent-color: #000000;
  --background-color: #ffffff;
  --background:
      repeating-linear-gradient(to right, #d3d3d3 0, #d3d3d3 2px, transparent 2px, transparent 4px),
      repeating-linear-gradient(to bottom, #d3d3d3 0, #d3d3d3 2px, transparent 2px, transparent 4px),
      linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a) left top / cover fixed;
  --heart-contour: #000000;
  --heart-sparks: #FF0000;
  --heart-fill: #FF0000;
  --button-text-mix-color: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --font-weight: 465;
    --accent-font-weight: 785;
    --accent-color: #00CC14;
    --background-color: #000000;
    --background:
       repeating-linear-gradient(to right, #000000 0, #000000 2px, transparent 2px, transparent 4px),
       repeating-linear-gradient(to bottom, #000000 0, #000000 2px, transparent 2px, transparent 4px),
       linear-gradient(to bottom, #007f0c, #004306) left top / cover fixed;
    --heart-contour: #00CC14;
    --heart-sparks: #FF0000;
    --heart-fill: #FF0000;
    --button-text-mix-color: #00CC14;
  }
}

.page.theme-dark {
  --font-weight: 465;
  --accent-font-weight: 785;
  --accent-color: #00CC14;
  --background-color: #000000;
  --background:
      repeating-linear-gradient(to right, #000000 0, #000000 2px, transparent 2px, transparent 4px),
      repeating-linear-gradient(to bottom, #000000 0, #000000 2px, transparent 2px, transparent 4px),
      linear-gradient(to bottom, #007f0c, #004306) left top / cover fixed;
  --heart-contour: #00CC14;
  --heart-sparks: #FF0000;
  --heart-fill: #FF0000;
  --button-text-mix-color: #00CC14;
}
