/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --font: 'Inter-Variable';
  --accent-font: 'PressStart2P';
  --font-weight: 400;
  --accent-font-weight: 700;
  --accent-color: #000000;
  --background-color: #ffffff;
  --background:
      repeating-linear-gradient(to right, #d3d3d3 0, #d3d3d3 2px, transparent 2px, transparent 4px),
      repeating-linear-gradient(to bottom, #d3d3d3 0, #d3d3d3 2px, transparent 2px, transparent 4px),
      linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a) left top / cover fixed;
  --heart-core: transparent;
  --heart-main-body: transparent;
  --heart-contour: #000000;
  --heart-sparks: #FF0000;
  --heart-fill: #FF0000;
  --button-text-mix-color: #ffffff;
  --title-font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  --title-span-font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  --header-padding-block-start: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem);
  --floppy-size: 21px;
}
